@charset "utf-8";

html{
    font-size: 100%;
}
body{
    color: #333;
    font-size: 0.875rem;
    background-color: #f4f9ff;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 5%;
}
a{
    color: #2d2d2d;
}

#header .site-title{
    width: 150px;
}
#header .site-title a{
    display: block;
}
#header{
    margin-bottom: 10px;
    padding-top: 40px;
}

#mainvisual{
    vertical-align: bottom;
}

#index{
    margin: 0 auto;
    text-align: left;
}
#index ul{
    display: inline;
}

.detail-img{
    width: 200px;
}
.flex-item{
    display: flex;
}

.text{
    padding: 0 30px;
}
.text dl{
    display: flex;
    flex-wrap: wrap;
}
.text dt{
    width: 20%;
}

.text dd{
    width: 80%;
}
.text h2{
    display: inline-block;
    border-bottom: solid 1px #2d2d2d;
}
.text p{
    padding: 15px;
    display: inline-block;
    border-top: solid 1px #2d2d2d;
}
