@charset "utf-8";

html{
    font-size: 100%;
}
body{
    font-size: 0.875rem;
    color: #333;
    background-color: #f4f9ff;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.inner{
    margin: 0 auto;
    max-width: 600px;
}
.sec-title{
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 20px;
}
/* header */

#header{
    margin-bottom: 10px;
}
#header .site-title{
    width: 160px;
}
#header a{
    display: block;
}
/* main */
#mainvisual{
    margin-bottom: 60px;
}
#mainvisual img{
    width: 100%;
}
#index .content{
    
}
